body {
  background: #222;
  color: #aaa;
}

#levelFooter {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:0.5em 0;
  text-align:center;
}

#levelHeader {
  font-size:12pt;
  color:#888;
  padding:0.5em 5em;
}

.backToVorp {
  position:absolute;
  left:1em;
}

.vorpLevelTitle {
  font-weight:bold;
}

.vorpLevelDesc {
}

#miniHelp {
  font-size:12pt;
  color:#888;
}

a {
  font-weight:bold;
  text-decoration:none;
  color:#96e;
}

a.logo {
  color: rgb(170, 170, 170);
  font-weight: normal;
}

a.nav {
  border-color: #222;
}

div.center {
  max-width:40em;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  margin: 0;
  border: 0;
  padding: 0;
  position:absolute;
  top:0px;
  background: #000;
  z-index:-2;
}

#levelCenter {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

#game {
  vertical-align:top;
  display:inline-block;
}

#settings {
  display:none;
  text-align:left;
  vertical-align:top;
  float:right;
  padding: 1em;
  font-size:small;
}

div.copyright {
  color:#777;
}
