body {
  background: #222;
  color: #aaa;
}

.levelheader {
  color:#888;
}

.minihelp {
  color:#555;
  font-size:90%;
}

a {
  font-weight:bold;
  text-decoration:none;
  color:#85d;
}

a.nav {
  border-color: #222;
}

div.center {
  max-width:40em;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  border: 2px solid #333;
  margin: 0.6em;
  background: #000;
}

#levelCenter {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

#game {
  vertical-align:top;
  display:inline-block;
}

#settings {
  display:none;
  text-align:left;
  vertical-align:top;
  float:right;
  padding: 1em;
  font-size:small;
}

div.copyright {
  color:#777;
}
