.tab {
    border-width: 0.5em 0 0;
    border-style: solid;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
    padding: 0.1em 2em 0.35em;
    margin: 0 1px 0 0;
    display: inline-block;
    cursor: pointer;
}

.selected {
    border-top-color: #aaf;
    background-color: #aaf;
}

.unselected {
    border-top-color: #ccc;
    background-color: #ccc;
}