body {
  background:#222;
}

.vedLeftLink, .vedEditTitle, .vedModesDiv, #gedHelpToggle {
  margin:0 0.5em;
  padding:0.3em 0.8em;
  background-color:rgba(64, 64, 64, 0.7);
  border-radius: 0.75em;
  font-weight:bold;
}

#levelHeader {
  clear:both;
  padding:0.5em 0;
}

.vedModeLink {
  padding:0 0.8em;
}

span.vedModeLink {
  padding:0.2 0.8em;
  background:rgba(200, 200, 200, 0.5);
  border-radius: 0.75em;
  color:black;
}

.vedLeftLink, .vedEditTitle {
  float:left;
}

.vedModesDiv {
  float:right;
}

.vedDirectoryRow {
  font-size:large;
  margin:0.25em;
}

.vedError {
  font-size:x-large;
  color:#f44;
}

canvas.vedEditCanvas {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  border:0;
  padding:0;
  z-index:-10;
  background:#000;
}

canvas.vedClipboard {
  position:absolute;
  bottom:0.5em;
  left:0.5em;
  margin:0;
  border:0;
  padding:0;
  background:rgba(0, 0, 0, 0.7);
}

#gedHelpToggle {
  border:0;
  position:absolute;
  bottom: 0.5em;
  right: 0.5em;
  color:#afa;
  font-size:110%;
}

#gedHelpWrapper {
  position:absolute;
  bottom:3em;
  right:3em;
  max-width:40em;
  padding:1em;
  background-color:rgba(40, 40, 40, 0.93);
  border-radius: 0.75em;
  z-index:10;
  overflow:auto;
}


#gedHelpWrapper h1 {
  font-size:large;
  color:#afa;
}

.getHelpMouseControl, .gedHelpKeyCombo {
  color:#eef;
}

.gedHelpKeyCombo {
  text-transform:uppercase;
}

.gedHelpTitle {}

ul.gedHelpList {
  list-style: none;
  text-indent: 0;
  margin-left: 0;
  padding-left: 1em;
}

li.gedHelpListItem {
  margin:0.6em 0;
}